.optradio{
    margin-right: 15px;
    margin-top: 5px;
}

.itemback{
    margin-top: 5px;
    margin-left: 15px;
}

.sendto{
    margin-right: 15px;
    margin-left: 15px;
}

.havesend{
    margin-left: 15px;
}